/* INDEX DI BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

#main, #header, #footer, #offline-message{
    overflow: hidden;
}

body{
    width: 1920px;
    height: 1080px;
    background-color: darkblue;
}

#header{
    width: 1920px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

#main{
    width: 1920px;
    height: 880px;
    position: absolute;
    top: 100px;
    left: 0;
}

#footer{
    width: 1920px;
    height: 100px;
    position: absolute;
    top: 980px;
    left: 0;
    background-color: antiquewhite;
}

#Titolo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #f1f1f1;
    border: 1px solid #000;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}